/CmdCreateEvent.class
/CmdCreateGroup.class
/CmdCreateStudent.class
/CmdDeleteEvent.class
/CmdDeleteGroup.class
/CmdDeleteStudent.class
/CmdGroupJoin.class
/CmdListEvent.class
/CmdListGroup.class
/CmdListStudent.class
/CmdListStudentJoinedEvent.class
/CmdListStudentJoinedGroup.class
/CmdSearchEvent.class
/CmdSearchGroup.class
/CmdSearchStudent.class
/CmdStudentJoinEvent.class
/CmdStudentJoinGroup.class
/Command.class
/Event.class
/EventAllocator.class
/EventGroup.class
/EventIndividual.class
/ExEventNotFound.class
/ExGroupNotFound.class
/ExStudentNotFound.class
/ExWrongCommand.class
/Group.class
/GroupHandler.class
/Main.class
/Student.class
/StudentHandler.class
/CmdSearchEventID.class
/CmdSearchEventMajor.class
